@import "compass/css3";
@import "compass/utilities/general/clearfix";

/**
 * Images
 */

.view-display-id-gallery_tabs_image {

  .views-row {
    clear: none;
    margin: 0;
  }

  .su-gallery-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

/**
 * Powered by peoples
 */

.powered-by-people {
  position: absolute;
  right: 0px;
  background: #FFF;
}

/**
 * Tabs
 */

#block-stanford-gallery-tabs-stanford-gallery-tabs {
  .view-display-id-gallery_tabs_list {
    margin-left: 0px;
  }
}

.view-display-id-gallery_tabs_list {

  .views-row {
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);
    margin: 0 0 1px 0;
    padding: 20px 30px 20px 30px;
    position: relative;
    background: #5a5d62;
    color: #FFF;
    left: 0px;
    cursor: pointer;
  }

  .su-gallery-tab-quote {
    display: none;
    font-size: 1.8em;
    line-height: 1.3em;
    margin-bottom: 40px;
    position: relative;
  }

  .su-gallery-tab-quote:before,
  .su-gallery-tab-quote:after {
    font-size: 1.5em;
    opacity: .5;
    font-weight: bold;
    position: absolute;
    content: "”";
  }

  .su-gallery-tab-quote:before {
    content: "“";
    left: -0.6em;
  }

  .su-gallery-tab-name {
    font-weight: bold;
  }

  .su-gallery-tab-job-title {
    // Nothing here yet.
  }

  .su-gallery-tab-department {
    // Nothing to see.
  }

  .active-tab {
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);
    background: #620d10;
    padding: 40px 70px 40px 70px;
    left: -40px;
    margin-right: -80px;
    margin-bottom: -2px;
    margin-top: -2px;
    z-index: 11;
    outline: 0;
    cursor: auto;

    .su-gallery-tab-quote {
      display: block;
    }

  }

}

// Bottom aligned.
@media only screen and (min-width: 768px) and (max-width: 979px) {

  #block-stanford-gallery-tabs-stanford-gallery-tabs {
    margin-top: 30px;

    .content {
      vertical-align: bottom;
      position: relative;
      @include clearfix;
    }

  } // block-stanford-gallery-tabs-stanford-gallery-tabs

  .row-fluid {

    // Images
    .view-display-id-gallery_tabs_image.span7 {
      width: 100%;
      margin: 0px;
      padding: 0px;
    } // view-display-id-gallery_tabs_image.span7

    // Tabs.
    .view-display-id-gallery_tabs_list.span5 {
      position: absolute;
      bottom: 0px;
      width: 101%;
      margin: 0px;
      padding: 0px;
      vertical-align: bottom;

      .views-row {
        @include inline-block;
        vertical-align: bottom;
        width: 214px;
        margin: 0;
        padding: 11px;
      } // views-row

      .su-gallery-tab-quote {
        font-size: 1.5em;
        left: 0px;
        margin-bottom: 10px;
      } // .su-gallery-tab-quote

      .su-gallery-tab-quote:before,
      .su-gallery-tab-quote:after {
        font-size: 0.9em;
      }

      .active-tab {
        margin: 0px;
        padding: 10px 19px;
        left: 0px;
      } // active-tab

      .views-row-even {
        margin: 0px -3px;
      } // views-row-even

    } //view-display-id-gallery_tabs_list.span5

  } // row-fluid

} // @media screen min 768 max 979


// Bottom aligned.
@media only screen and (max-width: 767px) {
  #block-stanford-gallery-tabs-stanford-gallery-tabs {
    margin-top: 30px;
  }
}
