@import "compass/css3";
@import "compass/utilities/general/clearfix";

/**
 * Images
 */

.row-fluid {
  .view-display-id-gallery_tabs_image.span7 {
    margin-left: 0;

    .views-row {
      clear: none;
      margin: 0;
    }

    .su-gallery-image {
      img {
        width: 100%;
        height: auto;
      }
    }

    @media screen and (min-width: 980px) and (max-width: 1199px) {
      margin: 120px 0 0 0;
    }

    // Bottom aligned.
    @media screen and (min-width: 768px) and (max-width: 979px) {
      width: 100%;
      margin: 50px 0 0 0;
      padding: 0px;
    }
  }
}

.view-gallery-tabs .slick-list {
  @include border-radius(3px);
  @include box-shadow(1px 1px 8px rgba(0, 0, 0, 0.3));
}

@media screen and (min-width: 980px) and (max-width: 1199px) {
  .main #block-stanford-gallery-tabs-stanford-gallery-tabs.block {
    margin-bottom: 10px;
  }
}

/**
 * Powered by peoples
 */

.powered-by-people {
  position: absolute;
  right: 9.5em;
  padding-top: 20px;
  z-index: 10;

  @media screen and (max-width: 1200px) {
    left: 1.2em;
  }

  @media screen and (max-width: 979px) {
    left: 0px;
    right: auto;
    top: -29px;
  }

  @media screen and (max-width: 767px) {
    position: relative;
    top: auto;
    left: auto;
  }

  h2 {
    font-size: 2.6em;
    line-height: 1.4em;
    font-family: serif;
  }
}

/**
 * Images
 */

.view-display-id-gallery_tabs_image {

  .su-gallery-image {
    img {
      width: 100%;
      height: auto;
      @include border-radius(3px);
    }
  }
}

/**
 * Tabs
 */

#block-stanford-gallery-tabs-stanford-gallery-tabs {
  position: relative;

  .view-display-id-gallery_tabs_list {
    margin-left: 0px;
    margin-top: 120px;
    @media screen and (min-width: 980px) and (max-width: 1199px) {
      margin-top: 150px;
    }
    @media (max-width: 767px) {
      margin-top: 0px;
    }
  }
}

.view-display-id-gallery_tabs_list {

  .views-row {
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);
    margin: 0 0 2px 0;
    padding: 20px 30px 20px 30px;
    position: relative;
    background: #3f8289;
    color: #FFF;
    left: 0px;
    cursor: pointer;
  }

  .su-gallery-tab-quote {
    display: none;
    font-size: 1.7em;
    line-height: 1.35em;
    margin-bottom: 25px;
    position: relative;
    letter-spacing: -0.01em;
  }

  .su-gallery-tab-quote:before,
  .su-gallery-tab-quote:after {
    font-size: 1.5em;
    opacity: .5;
    font-weight: 600;
    position: absolute;
    content: "”";
  }

  .su-gallery-tab-quote:before {
    content: "“";
    left: -0.6em;
  }

  .su-gallery-tab-name {
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.4em;
  }

  .su-gallery-tab-job-title,
  .su-gallery-tab-department {
    font-size: 0.9em;
    line-height: 1.4em;
    letter-spacing: 0.02em;
  }

  .su-gallery-tab-department {
    display: none;
  }

  .active-tab {
    @include border-radius(4px);
    @include box-shadow(1px 1px 8px rgba(0, 0, 0, 0.3));
    @include transition-property(none);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);
    background: #ffffff;
    color: #333333;
    padding: 35px 60px 30px 70px;
    left: -100px;
    margin-right: -140px;
    margin-bottom: -2px;
    margin-top: -2px;
    z-index: 11;
    outline: 0;
    cursor: auto;

    .su-gallery-tab-name,
    .su-gallery-tab-job-title,
    .su-gallery-tab-department {
      margin-left: 59px;
    }

    .su-gallery-tab-department,
    .su-gallery-tab-quote {
      display: block;
    }

  }

}

// Bottom aligned.
@media only screen and (min-width: 768px) and (max-width: 979px) {

  #block-stanford-gallery-tabs-stanford-gallery-tabs {
    margin-top: 0px;
    padding-top: 0px;

    .content {
      vertical-align: bottom;
      position: relative;
      @include clearfix;
    }

  } // block-stanford-gallery-tabs-stanford-gallery-tabs

  .row-fluid {

    // Tabs.
    .view-display-id-gallery_tabs_list.span5 {
      position: absolute;
      bottom: 30px;
      width: 101%;
      margin: 0px;
      padding: 0px;
      vertical-align: bottom;

      .views-row {
        @include inline-block;
        vertical-align: bottom;
        width: 190px;
        min-height: 190px;
        margin: 0;
        padding: 20px;
        @include box-sizing(border-box);
        transition-property: none;
      } // views-row

      .su-gallery-tab-quote {
        font-size: 1.5em;
        left: 0px;
        margin-bottom: 10px;
      } // .su-gallery-tab-quote

      .su-gallery-tab-quote:before,
      .su-gallery-tab-quote:after {
        font-size: 0.9em;
      }

      .active-tab {
        margin: 0px;
        padding: 20px 40px;
        left: 0px;
        width: 338px;

        .su-gallery-tab-name,
        .su-gallery-tab-job-title,
        .su-gallery-tab-department {
          margin-left: 0;
        }
      } // active-tab

    } //view-display-id-gallery_tabs_list.span5

  } // row-fluid

} // @media screen min 768 max 979

@media (max-width: 767px) {
  .slick-slider {
    margin-bottom: 0px;
  }
  .view-display-id-gallery_tabs_list .active-tab {
    margin-right: -20px;
    left: -10px;

    .su-gallery-tab-name,
    .su-gallery-tab-job-title,
    .su-gallery-tab-department {
      margin-left: 0;
    }
  }
  .view-display-id-gallery_tabs_list .views-row {
    padding: 20px 60px;
  }
}
