/**
 * For gallery tabs.
 */
/* line 9, stanford_gallery_tabs.scss */
.slick-slider .views-row {
  clear: none;
  margin: 0;
}
/* line 15, stanford_gallery_tabs.scss */
.slick-slider .slick-prev,
.slick-slider .slick-next {
  background: #CBC;
}

/**
 * Powered by people
 */
/* line 25, stanford_gallery_tabs.scss */
.powered-by-people {
  padding-top: 20px;
}
/* line 28, stanford_gallery_tabs.scss */
.powered-by-people h2 {
  font-size: 2.6em;
  font-family: serif;
}

/**
 * Images
 */
/* line 40, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_image .su-gallery-image img {
  width: 100%;
  height: auto;
}

/**
 * Tabs
 */
/* line 52, stanford_gallery_tabs.scss */
#block-stanford-gallery-tabs-stanford-gallery-tabs .view-display-id-gallery_tabs_list {
  margin-left: 0px;
}

/* line 59, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .views-row {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 0 2px 0;
  padding: 20px 30px 20px 30px;
  position: relative;
  background: #5a5d62;
  color: #FFF;
  left: 0px;
  cursor: pointer;
}
/* line 72, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .su-gallery-tab-quote {
  display: none;
  font-size: 1.8em;
  line-height: 1.3em;
  margin-bottom: 30px;
  position: relative;
}
/* line 81, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .su-gallery-tab-quote:before,
.view-display-id-gallery_tabs_list .su-gallery-tab-quote:after {
  font-size: 1.5em;
  opacity: .5;
  font-weight: bold;
  position: absolute;
  content: "”";
}
/* line 89, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .su-gallery-tab-quote:before {
  content: "“";
  left: -0.6em;
}
/* line 94, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .su-gallery-tab-name {
  font-weight: 600;
  margin-bottom: 0.25em;
  letter-spacing: 0.03em;
  line-height: 1.4em;
}
/* line 102, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .su-gallery-tab-job-title,
.view-display-id-gallery_tabs_list .su-gallery-tab-department {
  font-size: 0.9em;
  line-height: 1.4em;
  letter-spacing: 0.02em;
}
/* line 108, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .active-tab {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background: #620d10;
  padding: 40px 70px 40px 70px;
  left: -40px;
  margin-right: -80px;
  margin-bottom: -2px;
  margin-top: -2px;
  z-index: 11;
  outline: 0;
  cursor: auto;
}
/* line 124, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .active-tab .su-gallery-tab-quote {
  display: block;
}
