@import "compass/css3";

/**
 * For gallery tabs.
 */

.slick-slider {

  .views-row {
    clear: none;
    margin: 0;
  }

  .slick-prev,
  .slick-next {
    background: #CBC;
  }

}

/**
 * Powered by people
 */

.powered-by-people {
  padding-top: 20px;

  h2 {
    font-size: 2.6em;
    font-family: serif;
  }
}

/**
 * Images
 */

.view-display-id-gallery_tabs_image {
  .su-gallery-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

/**
 * Tabs
 */

#block-stanford-gallery-tabs-stanford-gallery-tabs {
  .view-display-id-gallery_tabs_list {
    margin-left: 0px;
  }
}

.view-display-id-gallery_tabs_list {

  .views-row {
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);
    margin: 0 0 2px 0;
    padding: 20px 30px 20px 30px;
    position: relative;
    background: #5a5d62;
    color: #FFF;
    left: 0px;
    cursor: pointer;
  }

  .su-gallery-tab-quote {
    display: none;
    font-size: 1.8em;
    line-height: 1.3em;
    margin-bottom: 30px;
    position: relative;
  }

  .su-gallery-tab-quote:before,
  .su-gallery-tab-quote:after {
    font-size: 1.5em;
    opacity: .5;
    font-weight: bold;
    position: absolute;
    content: "”";
  }

  .su-gallery-tab-quote:before {
    content: "“";
    left: -0.6em;
  }

  .su-gallery-tab-name {
    font-weight: 600;
    margin-bottom: 0.25em;
    letter-spacing: 0.03em;
    line-height: 1.4em;
  }

  .su-gallery-tab-job-title,
  .su-gallery-tab-department {
    font-size: 0.9em;
    line-height: 1.4em;
    letter-spacing: 0.02em;
  }

  .active-tab {
    @include border-radius(4px);
    @include box-shadow(1px 1px 8px rgba(0, 0, 0, 0.3));
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-out);
    background: #620d10;
    padding: 40px 70px 40px 70px;
    left: -40px;
    margin-right: -80px;
    margin-bottom: -2px;
    margin-top: -2px;
    z-index: 11;
    outline: 0;
    cursor: auto;

    .su-gallery-tab-quote {
      display: block;
    }

  }

}
