@charset "UTF-8";
/**
 * Images
 */
/* line 10, stanford_gallery_tabs.scss */
.row-fluid .view-display-id-gallery_tabs_image.span7 .views-row {
  clear: none;
  margin: 0;
}
/* line 16, stanford_gallery_tabs.scss */
.row-fluid .view-display-id-gallery_tabs_image.span7 .su-gallery-image img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  /* line 9, stanford_gallery_tabs.scss */
  .row-fluid .view-display-id-gallery_tabs_image.span7 {
    margin: 140px 0 0 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  /* line 9, stanford_gallery_tabs.scss */
  .row-fluid .view-display-id-gallery_tabs_image.span7 {
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0px;
  }
}

/* line 35, stanford_gallery_tabs.scss */
.view-gallery-tabs .slick-list {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

/**
 * Powered by peoples
 */
/* line 44, stanford_gallery_tabs.scss */
.powered-by-people {
  position: absolute;
  right: 7.9em;
  padding-top: 20px;
  z-index: 10;
}
@media screen and (max-width: 1200px) {
  /* line 44, stanford_gallery_tabs.scss */
  .powered-by-people {
    left: 1.2em;
  }
}
@media screen and (max-width: 979px) {
  /* line 44, stanford_gallery_tabs.scss */
  .powered-by-people {
    left: 0px;
    right: auto;
    top: -29px;
  }
}
@media screen and (max-width: 767px) {
  /* line 44, stanford_gallery_tabs.scss */
  .powered-by-people {
    position: relative;
    top: auto;
    left: auto;
  }
}
/* line 66, stanford_gallery_tabs.scss */
.powered-by-people h2 {
  font-size: 2.6em;
  line-height: 1.3em;
  font-family: serif;
}

/**
 * Images
 */
/* line 80, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_image .su-gallery-image img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/**
 * Tabs
 */
/* line 92, stanford_gallery_tabs.scss */
#block-stanford-gallery-tabs-stanford-gallery-tabs {
  position: relative;
}
/* line 95, stanford_gallery_tabs.scss */
#block-stanford-gallery-tabs-stanford-gallery-tabs .view-display-id-gallery_tabs_list {
  margin-left: 0px;
  margin-top: 120px;
}
@media (max-width: 767px) {
  /* line 95, stanford_gallery_tabs.scss */
  #block-stanford-gallery-tabs-stanford-gallery-tabs .view-display-id-gallery_tabs_list {
    margin-top: 0px;
  }
}

/* line 107, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .views-row {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 0 2px 0;
  padding: 20px 30px 20px 30px;
  position: relative;
  background: #5a5c61;
  color: #FFF;
  left: 0px;
  cursor: pointer;
}
/* line 120, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .su-gallery-tab-quote {
  display: none;
  font-size: 1.8em;
  line-height: 1.3em;
  margin-bottom: 30px;
  position: relative;
}
/* line 129, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .su-gallery-tab-quote:before,
.view-display-id-gallery_tabs_list .su-gallery-tab-quote:after {
  font-size: 1.5em;
  opacity: .5;
  font-weight: 600;
  position: absolute;
  content: "”";
}
/* line 137, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .su-gallery-tab-quote:before {
  content: "“";
  left: -0.6em;
}
/* line 142, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .su-gallery-tab-name {
  font-weight: 600;
  margin-bottom: 0.25em;
  letter-spacing: 0.03em;
  line-height: 1.4em;
}
/* line 150, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .su-gallery-tab-job-title,
.view-display-id-gallery_tabs_list .su-gallery-tab-department {
  font-size: 0.9em;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  display: none;
}
/* line 157, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .active-tab {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background: #650000;
  padding: 40px 70px 40px 70px;
  left: -40px;
  margin-right: -80px;
  margin-bottom: -2px;
  margin-top: -2px;
  z-index: 11;
  outline: 0;
  cursor: auto;
}
/* line 174, stanford_gallery_tabs.scss */
.view-display-id-gallery_tabs_list .active-tab .su-gallery-tab-department,
.view-display-id-gallery_tabs_list .active-tab .su-gallery-tab-quote {
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  /* line 185, stanford_gallery_tabs.scss */
  #block-stanford-gallery-tabs-stanford-gallery-tabs {
    margin-top: 0px;
    padding-top: 0px;
  }
  /* line 189, stanford_gallery_tabs.scss */
  #block-stanford-gallery-tabs-stanford-gallery-tabs .content {
    vertical-align: bottom;
    position: relative;
    overflow: hidden;
    *zoom: 1;
  }

  /* line 200, stanford_gallery_tabs.scss */
  .row-fluid .view-display-id-gallery_tabs_list.span5 {
    position: absolute;
    bottom: 30px;
    width: 101%;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
  }
  /* line 208, stanford_gallery_tabs.scss */
  .row-fluid .view-display-id-gallery_tabs_list.span5 .views-row {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: bottom;
    width: 190px;
    min-height: 190px;
    margin: 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 218, stanford_gallery_tabs.scss */
  .row-fluid .view-display-id-gallery_tabs_list.span5 .su-gallery-tab-quote {
    font-size: 1.5em;
    left: 0px;
    margin-bottom: 10px;
  }
  /* line 225, stanford_gallery_tabs.scss */
  .row-fluid .view-display-id-gallery_tabs_list.span5 .su-gallery-tab-quote:before,
  .row-fluid .view-display-id-gallery_tabs_list.span5 .su-gallery-tab-quote:after {
    font-size: 0.9em;
  }
  /* line 229, stanford_gallery_tabs.scss */
  .row-fluid .view-display-id-gallery_tabs_list.span5 .active-tab {
    margin: 0px;
    padding: 20px 40px;
    left: 0px;
    width: 344px;
  }
  /* line 236, stanford_gallery_tabs.scss */
  .row-fluid .view-display-id-gallery_tabs_list.span5 .views-row-even {
    margin: 0px -3px;
  }
}
@media (max-width: 767px) {
  /* line 247, stanford_gallery_tabs.scss */
  .slick-slider {
    margin-bottom: 0px;
  }
}
